################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WasteBagsThrowTripsCalculator/obj
/.vs
/WasteBagsThrowTripsCalculator/TestProject/bin/Debug/net6.0
/WasteBagsThrowTripsCalculator/TestProject/obj
